<h1>Listing player_records</h1>
<table>
  <tr>
    <th>Records</th>
    <th>Player</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @player_records.each do |player_record| %>
  <tr>
    <td><%= player_record.records %></td>
    <td><%= player_record.player_id %></td>
    <td>
    <% if can? :update,:delete, PlayerRecord%>
    <%= link_to 'Edit', edit_player_record_path(player_record) %>
    <%= link_to 'Destroy', player_record, method: :delete, data: { confirm: 'Are you sure?' } %><%end%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player record', new_player_record_path %>
